body {
    font-family: 'Lato', sans-serif;
    background-color: rgb(240, 249, 252);
    background-position: center top;
    background-size: cover; 
    margin: 0;
}

.headshot h1 {
    background-color: red;
    color: red;
}

.headshot h2 {
    background-color: orange;
    color: orange;
}

.headshot {
    background-color: greenyellow;
    color: greenyellow;
}



