body {
    font-family: "Open-Sans", Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
    background: linear-gradient(35deg, #CCFFFF, #FFCCCC);;
    color: Black;
}

#tops h1{
    float: left;
    text-transform: uppercase;
    font-family: "Open Sans";
    font-size: 50px;
    float: left;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 50px;
    padding-right: 0px;
    margin-top: -10px;
    margin-left: auto;
    margin-right: auto;
}

#tops a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

#tops {
    background-color: white;
    color: black;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: white:
}

#tops ui {
margin: 0;
padding: 0; 
}


#tops li {
    float: right;
    padding: 0 20px 0 20px;
    display: inline;
}

.cat {
    margin-top: -0px;
    float: right;
    display: inline;
}

.dog {
    margin-top: -5px;
}

li:hover {
    transform: scale(1.1);
}

img {
    border-radius: 50%;
    width: 200px; 
    height: 250px;
    display: block;
    margin: 50 auto;
}

#face {
    text-align: center;
}

#face p {
    margin: 0px;
    padding-left: 500px;
    padding-right: 500px;
}