body {
    font-family: 'Lato', sans-serif;
    background-color: rgb(220, 240, 247);
    background-position: center top;
    background-size: cover; 
    margin: 0;
}

.aboutme p {
    background-color: rgb(33, 211, 86);
}

